
/* Global Styles */

body {
    margin-top: 100px;
    background-color: #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color:#5B9BD5;
    border-color: #5B9BD5;
}
.mob_logo{
    margin-left: 125px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #0563C1 !important;
  font-weight: bold;
  font-size: 12px;
}
.navbar-inverse .navbar-nav>.active>a{
  color: #999;
  border: 1px solid #000;
  background-color: #fff;
  font-weight: bold;
}
.navbar-inverse .navbar-nav>.active>a:hover{
  color: #999;
}
.btn-scanner{
    border-radius: 0px !important;
      color: #000 !important;
      font-weight: bold;
        padding-left: 40px;
       padding-right: 40px;
       border:1px solid red;
}
.form-border{
    border: 1px solid #70AD47;
    font-weight: bold;
    color: #000 !important;
    border-radius: 0px !important;
}
.btn-bold{
    font-weight: bold;
}
.main-div{
    margin-top: 50px;
    height: 491px;
}
.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #fff !important;
  color: #999;
  font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a{
  border: 1px solid #000;
  color: #999;
  font-weight: bold;
  background-color: #fff;
  margin-bottom:5px;
}

@media (max-width: 480px) {
    .hide-on-mobile{
        display:none;
    }
    .mob_logo{
        margin-left: 0px;
    }
    .navbar-inverse {
      background-color: #5B9BD5;
      border-color: #080808;
    }
}
@media (max-width: 767px) {
    .hide-on-mobile{
        display:none;
    }
    .mob_logo{
        margin-left: 0px;
    }
    .navbar-inverse {
      background-color: #5B9BD5;
      border-color: #080808;
    }
}
@media(min-width:768px) {

    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 9px;
}
.lang_conv{
    margin-top: 10px;
  margin-left: 10px;
}

.top-nav>li {
    display: inline-block;
    float: left;
    height: 55px;
}

.top-nav>li>a {
    position: relative;
    top: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    color: #999;
    margin-right: 15px;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {

    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #fff;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
